<div
    class="min-h-screen flex items-center justify-center bg-[url('/img/auth-img/backgroundRegister.avif')] bg-cover bg-center p-4">
    <div class="bg-white/95 backdrop-blur-sm rounded-2xl shadow-2xl w-full max-w-5xl p-10">

        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-2">Asignar rol en el gimnasio</h2>
        <p class="text-sm text-center text-gray-500 mb-10">
            Complete los datos para registrar un nuevo miembro
        </p>

        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 lg:grid-cols-2 gap-6">

            <div>
                <div class="flex justify-between items-center mb-1">
                    <label class="block text-gray-700 text-sm">Nombre *</label>
                    <span *ngIf="submitted && f['nombre'].errors?.['required']"
                        class="text-red-600 text-xs font-medium">
                        campo incompleto
                    </span>
                </div>
                <input type="text" placeholder="Ingrese el nombre" formControlName="nombre"
                    class="text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-400 focus:outline-none"
                    [class.border-red-500]="submitted && f['nombre'].invalid" />
            </div>

            <div>
                <div class="flex justify-between items-center mb-1">
                    <label class="block text-gray-700 text-sm">Apellido *</label>
                    <span *ngIf="submitted && f['apellido'].errors?.['required']"
                        class="text-red-600 text-xs font-medium">
                        campo incompleto
                    </span>
                </div>
                <input type="text" placeholder="Ingrese el apellido" formControlName="apellido"
                    class="text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-400 focus:outline-none"
                    [class.border-red-500]="submitted && f['apellido'].invalid" />
            </div>

            <div>
                <div class="flex justify-between items-center mb-1">
                    <label class="block text-gray-700 text-sm">Nombre de usuario *</label>
                    <span *ngIf="submitted && f['nombreUsuario'].errors?.['required']"
                        class="text-red-600 text-xs font-medium">
                        campo incompleto
                    </span>
                </div>
                <input type="text" placeholder="Ingrese el nombre de usuario" formControlName="nombreUsuario"
                    class="text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-400 focus:outline-none"
                    [class.border-red-500]="submitted && f['nombreUsuario'].invalid" />
            </div>

            <div>
                <div class="flex justify-between items-center mb-1">
                    <label class="block text-gray-700 text-sm">Contraseña *</label>
                    <span *ngIf="submitted && f['password'].errors?.['required']"
                        class="text-red-600 text-xs font-medium">
                        campo incompleto
                    </span>
                </div>
                <input type="password" placeholder="Ingrese la contraseña" formControlName="password"
                    class="text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-400 focus:outline-none"
                    [class.border-red-500]="submitted && f['password'].invalid" />
                <div *ngIf="submitted && f['password'].errors" class="text-red-600 text-xs mt-1">
                    <p *ngIf="f['password'].errors?.['minlength']">
                        La contraseña debe tener al menos 8 caracteres.
                    </p>
                    <p *ngIf="f['password'].errors?.['pattern']">
                        Debe contener al menos una mayúscula, una minúscula, un número y un carácter especial.
                    </p>
                </div>
            </div>

            <div>
                <div class="flex justify-between items-center mb-1">
                    <label class="block text-gray-700 text-sm">Email *</label>
                    <span *ngIf="submitted && f['email'].errors?.['required']" class="text-red-600 text-xs font-medium">
                        campo incompleto
                    </span>
                </div>
                <input type="email" placeholder="Ingrese el email" formControlName="email"
                    class="text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-400 focus:outline-none"
                    [class.border-red-500]="submitted && f['email'].invalid" />
                <p *ngIf="submitted && f['email'].errors?.['email']" class="text-red-600 text-xs mt-1">
                    Email inválido
                </p>
            </div>

            <div>
                <div class="flex justify-between items-center mb-1">
                    <label class="block text-gray-700 text-sm">Rol *</label>
                    <span *ngIf="submitted && f['rol'].errors?.['required']" class="text-red-600 text-xs font-medium">
                        campo incompleto
                    </span>
                </div>
                <div class="relative">
                    <select formControlName="rol"
                        class="appearance-none text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl bg-white focus:ring-2 focus:ring-blue-400 focus:outline-none cursor-pointer"
                        [class.border-red-500]="submitted && f['rol'].invalid">
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Entrenador">Entrenador</option>
                        <option value="Recepcionista">Recepcionista</option>
                        <option value="Maestranza">Maestranza</option>
                        <option value="Cliente">Cliente</option>
                    </select>
                    <svg class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" width="20" height="20">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>
            </div>

            <div class="col-span-1 lg:col-span-2 grid grid-cols-1 md:grid-cols-6 gap-4">
                <div class="md:col-span-1">
                    <label class="block text-gray-700 text-sm mb-1">Tipo *</label>
                    <select formControlName="tipoDocumento"
                        class="w-full border border-gray-300 rounded-xl p-3 text-gray-700 bg-white focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none transition cursor-pointer"
                        [class.border-red-500]="submitted && f['tipoDocumento'].invalid">
                        <option value="" disabled selected>Tipo</option>
                        <option>DNI</option>
                        <option>CUIL</option>
                        <option>Pasaporte</option>
                    </select>
                </div>

                <div class="md:col-span-2">
                    <div class="flex justify-between items-center mb-1">
                        <label class="block text-gray-700 text-sm">Número *</label>
                        <span *ngIf="submitted && f['numeroDocumento'].errors?.['required']"
                            class="text-red-600 text-xs font-medium">
                            campo incompleto
                        </span>
                    </div>
                    <input type="text" placeholder="Sin puntos ni guiones" formControlName="numeroDocumento"
                        class="w-full border border-gray-300 rounded-xl p-3 text-gray-700 focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none transition"
                        [class.border-red-500]="submitted && f['numeroDocumento'].invalid" />
                </div>

                <div class="md:col-span-1">
                    <label class="block text-gray-700 text-sm mb-1">Cód. área *</label>
                    <select formControlName="codigoArea"
                        class="w-full border border-gray-300 rounded-xl p-3 text-gray-700 bg-white focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none transition cursor-pointer"
                        [class.border-red-500]="submitted && f['codigoArea'].invalid">
                        <option value="+54" selected>+54</option>
                        <option value="+55">+55</option>
                        <option value="+56">+56</option>
                        <option value="+595">+595</option>
                    </select>
                </div>

                <div class="md:col-span-2">
                    <div class="flex justify-between items-center mb-1">
                        <label class="block text-gray-700 text-sm">Teléfono *</label>
                        <span *ngIf="submitted && f['telefono'].errors?.['required']"
                            class="text-red-600 text-xs font-medium">
                            campo incompleto
                        </span>
                    </div>
                    <input type="text" placeholder="Ej: 3764123456" formControlName="telefono"
                        class="w-full border border-gray-300 rounded-xl p-3 text-gray-700 focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none transition"
                        [class.border-red-500]="submitted && f['telefono'].invalid" />
                </div>
            </div>


            <div class="col-span-1 lg:col-span-2 flex flex-wrap gap-3">
                <div class="relative flex-1 min-w-[200px]">
                    <div class="flex justify-between items-center mb-1">
                        <label class="block text-gray-700 text-sm">Nacionalidad *</label>
                        <span *ngIf="submitted && f['nacionalidad'].errors?.['required']"
                            class="text-red-600 text-xs font-medium">
                            campo incompleto
                        </span>
                    </div>
                    <div class="relative">
                        <select formControlName="nacionalidad"
                            class="appearance-none text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl bg-white focus:ring-2 focus:ring-blue-400 focus:outline-none cursor-pointer"
                            [class.border-red-500]="submitted && f['nacionalidad'].invalid">
                            <option value="" disabled selected>Seleccione un país</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Paraguay">Paraguay</option>
                        </select>
                        <svg class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" width="20" height="20">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                </div>

                <div class="relative flex-1 min-w-[200px]">
                    <div class="flex justify-between items-center mb-1">
                        <label class="block text-gray-700 text-sm">Provincia *</label>
                        <span *ngIf="submitted && f['provincia'].errors?.['required']"
                            class="text-red-600 text-xs font-medium">
                            campo incompleto
                        </span>
                    </div>
                    <div class="relative">
                        <select formControlName="provincia"
                            class="appearance-none text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl bg-white focus:ring-2 focus:ring-blue-400 focus:outline-none cursor-pointer"
                            [class.border-red-500]="submitted && f['provincia'].invalid">
                            <option value="" disabled selected>Seleccione provincia</option>
                            <option value="Argentina">Misiones</option>
                            <option value="Brasil">Buenos Aires</option>
                            <option value="Paraguay">Cordoba</option>
                        </select>
                        <svg class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" width="20" height="20">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                </div>

                <div class="relative flex-1 min-w-[200px]">
                    <div class="flex justify-between items-center mb-1">
                        <label class="block text-gray-700 text-sm">Ciudad *</label>
                        <span *ngIf="submitted && f['ciudad'].errors?.['required']"
                            class="text-red-600 text-xs font-medium">
                            campo incompleto
                        </span>
                    </div>
                    <div class="relative">
                        <select formControlName="ciudad"
                            class="appearance-none text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-xl bg-white focus:ring-2 focus:ring-blue-400 focus:outline-none cursor-pointer"
                            [class.border-red-500]="submitted && f['ciudad'].invalid">
                            <option value="" disabled selected>Seleccione ciudad</option>
                            <option value="Argentina">Posadas</option>
                            <option value="Brasil">Rosario</option>
                            <option value="Paraguay">Villa Carlos Paz</option>
                        </select>
                        <svg class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" width="20" height="20">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-span-1 lg:col-span-2 flex flex-col mt-2">
                <div class="flex items-center">
                    <input id="terms" type="checkbox" formControlName="terminos"
                        class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
                        [class.border-red-500]="submitted && f['terminos'].invalid" />
                    <label for="terms" class="ml-2 text-gray-600 text-sm">
                        Acepto los <a href="https://www.youtube.com/" class="text-blue-600 hover:underline">Términos y
                            Condiciones</a>
                    </label>
                </div>
                <span *ngIf="submitted && f['terminos'].errors?.['requiredTrue']"
                    class="text-red-600 text-xs font-medium ml-6 mt-1">
                    Debe aceptar los términos
                </span>
            </div>

            <div class="col-span-1 lg:col-span-2">
                <button type="submit"
                    class="w-full py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-xl shadow transition duration-150">
                    Registrarse
                </button>
            </div>
        </form>

        <p class="text-center text-sm text-gray-600 mt-6">
            ¿Ya tienes una cuenta?
            <a routerLink="/" class="text-blue-600 hover:underline font-medium">Inicia sesión aquí</a>
        </p>
    </div>
</div>