<section
    class="relative bg-[url('/img/landing-img/backgroundLanding.avif')] bg-cover bg-center min-h-screen flex items-center px-8">

    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black/40"></div>

    <div
        class="container mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-10 relative z-10 text-center md:text-left">

        <!-- Texto principal -->
        <div class="flex-1 flex flex-col items-center md:items-start">
            <h1 class="text-4xl sm:text-5xl md:text-6xl font-extrabold text-white leading-tight mb-6">
                Gestioná tu gimnasio <br />
                <span class="text-orange-500">de forma inteligente</span>
            </h1>

            <p class="text-white text-lg mb-8 max-w-lg">
                Dejá atrás las planillas. Gestioná socios, cuotas y asistencias en segundos, con el sistema que te da
                orden, control y crecimiento.
            </p>

            <div class="flex flex-col sm:flex-row gap-6 justify-center md:justify-start">
                <button>
                    <a routerLink="/registro" class="px-6 py-3 bg-orange-500 hover:bg-orange-600 text-white font-medium
                        rounded-xl shadow-md
                        transition-all duration-200 cursor-default">
                        Registrarme ahora </a>
                </button>
                <button
                    class="px-6 py-3 bg-white text-gray-700 hover:bg-gray-200 rounded-xl transition-all duration-200">
                    Ver planes
                </button>
            </div>
        </div>

        <!-- Imagen opcional -->
        <!--
        <div class="flex-1 flex justify-center">
            <img src="TU_IMAGEN" class="rounded-2xl shadow-lg w-[450px] md:w-[500px] object-cover" />
        </div>
        -->

    </div>
</section>